.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes moveFromLeft {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.move-effect {
  animation: moveFromLeft 2.5s ease-in-out;
}

.hover-effect {
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: translateZ(-10px);
}

.logo-icon {
  width: 32px; /* Adjust the width and height to your desired size */
  height: 32px;
  /* Additional styling to make it look like a font icon */
  display: inline-block;
  vertical-align: middle;
  /* Add any other necessary styles */
}

.typefix{
  display: inline;
}

.content{
  z-index: 2;
  position: relative;
  /* height: 100vh; */
  overflow-y: auto;
}